/*
Copyright (C) 2014 antony Fons

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*/
/* 
    Created on : 30 nov. 2014, 23:11:42
    Author     : antony fons
*/

.track-vbox {
    -fx-padding: 10 0 10 0;
    -fx-alignment :CENTER;
    -fx-pref-width : 100;
    -fx-background-color: #535965;
}
.track-vbox:hover {
    -fx-border-color:steelblue;
}

.circle-Button {

}

.circle-Button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.texte-track {
    -fx-font-size: 12;
    -fx-pref-width: 80;
    -fx-text-fill:whitesmoke;
    -fx-text-alignment:center;
    -fx-focus-traversable:false;  
}

.labelkey-track {
    -fx-font-size: 24;
    -fx-text-fill:#00d936;
    -fx-focus-traversable:false;  
}

// definition css for all slider.
/*

.slider {
    -fx-orientation: vertical;
    -fx-pref-height: 250;
    -fx-show-tick-marks : true;
    -fx-major-tick-unit:0.1;
    -fx-block-increment:0.1;
    -fx-snap-to-ticks:true;
    -fx-minor-tick-count:10;
}
*/
.chrono-button{
    -fx-background-color : #00d938;
}
.chrono-button:hover{
    -fx-cursor: hand;
}
.chrono-button:selected{
    -fx-background-color : red
}
.progress-bar-track {
    -fx-text-box-border: #00d936;
    -fx-accent: #00d938;
    -fx-control-inner-background: #454d58;
    -fx-pref-width : 80;
    -fx-focus-traversable:false;    
}

.check-box-repeat {

}

.slider-volume-track {
    -fx-orientation: vertical;
    -fx-pref-height: 250;
    -fx-block-increment: 0.05;
    -fx-show-tick-marks : true;
    -fx-major-tick-unit:0.1;
    -fx-snap-to-ticks:true;
}
// fin de la css
