/*
Copyright (C) 2014 A. Fons

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*/
/* 
    Created on : 8 déc. 2014, 17:58:02
    Author     : A. Fons
*/
.border-pane{
    -fx-background-color: #535965;
}
.label{
    -fx-text-fill:whitesmoke;
}
#cancelbutton{
    -fx-graphic: url("../icons/cancelbutton.png");
    -fx-content-display:left;
}
#okbutton{
    -fx-graphic: url("../icons/okbutton.png");
    -fx-content-display:left;
}
#error{
    -fx-text-fill: #f20707;
}