<?xml version="1.0" encoding="UTF-8"?>
<Configuration mediaStatus="WARN">
  <Appenders>    
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>    
    <File name="easyconduiteLogFile" fileName="logs/easyconduite.log">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="easyconduite" level="TRACE" additivity="false">
        <AppenderRef ref="Console"/>
      <AppenderRef ref="easyconduiteLogFile"/>
    </Logger>
    <Root level="ALL">
        <AppenderRef ref="Console"/>
      <AppenderRef ref="easyconduiteLogFile"/>
    </Root>
  </Loggers>
</Configuration>
