[Desktop Entry]
Version=1.2
Type=Application
Name=EasyConduite
Terminal=false
Exec=/home/antony/easyconduite/easyconduite.sh
Icon=/home/antony/easyconduite/images/easyconduite32.png
Name=Easyconduite launcher
Comment=A super simple sampler.
StartupNotify=true
